{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "parser": "typescript",
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 80
}
